@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

.projectDeta .project-container {
    margin-top:5rem;
    width: 100%;
    flex-direction: column;
    align-items: start;
    
    gap: 1.5rem;
    justify-content: center;


}
.project-container h1 {
    font-size: 1.9rem;
    font-family: "Merriweather", serif;
    font: bold;
    color: var(--subtitle);

}
.projectDeta{
    flex-direction: column;
    gap: 70px;
    align-items: center;
    margin-bottom: 3rem;
    
}
.projectDeta img{
    border-radius: 15px;
    width: 50%;
    border:1px solid var(--blue) ;
    
}

.about{
    flex-direction: column;
    align-items:start;
    width: 100%;
    margin-top: 20px;
    padding: 10px;


}
.about .link {
    margin-top: 2.5%;
    gap: 10px;
}
.about .link a {
    color: var(--blue);
    font-size: 1.3rem;
}
.about p {
    color: var(--subtitle);
    
    font-size: 1.3rem;
}

.video-cont{
    width: 100%;
    flex-direction: column;
    padding: 10px;
    gap: 2rem;

}
.video-cont iframe {
    width: 70%;
    height:600px ;
    box-shadow: 1px 1px 40px var(--blue);
    border-radius: 25px;
    border: 1px solid var(--blue);
}
.video-cont h1{
    font-size: 1.9rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: var(--blue);
    text-transform: capitalize;
    line-height: 1cap;
    font: bold;
}
@media (max-width:1024px) {
    .video-cont iframe {
    width: 95% ;
    height:350px;
}
    
}


